body{
    background-color: #f8f9fa;
    direction: rtl;
    font-family: 'IRANYekan';
}

a {
    text-decoration: none;
}

label {
    color: #666666;
    /* font-weight: 600; */
}

.logo {
    height: 80px;
}

#eye {
    position: absolute;
    top: 37px;
    left: 8px;
}

.parag {
    color: #495057;
}

.price {
    background-color: #dbecff;
    color: #0a58ca;
    padding: 5px 7px;
    border-radius: 5px;
    margin: 0;
}

.course {
    font-size: 14px;
}

.hero-section__h1 {
    color: #495057;
    font-weight: 900;
    line-height: 60px;
}

.hero-section__p {
    font-size: 20px;
    color: #495057;
    padding: 20px 0;
}

.introduction span {
    color: #495057;
    padding-right: 7px;
}